name: Build Windows EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Download Win64 FFmpeg
        run: |
          Invoke-WebRequest -Uri https://www.gyan.dev/ffmpeg/builds/ffmpeg-git-full.7z -OutFile ffmpeg.7z
          7z x ffmpeg.7z -offmpeg_temp
          mkdir ffmpeg
          copy ffmpeg_temp\**\bin\ffmpeg.exe ffmpeg\
          copy ffmpeg_temp\**\bin\ffprobe.exe ffmpeg\
          copy ffmpeg_temp\**\bin\ffplay.exe ffmpeg\

      - name: Build EXE
        run: pyinstaller cctv.spec

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: CCTV-Streamer
          path: dist/cctv_streamer.exe
