name: Build Windows EXE

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Download FFmpeg (64-bit)
        run: |
          curl -L "https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip" -o ffmpeg.zip
          powershell -command "Expand-Archive ffmpeg.zip -DestinationPath ffmpeg"
          move ffmpeg\ffmpeg-*/* ffmpeg\

      - name: Build Onefile EXE
        run: >
          pyinstaller --onefile --noconsole
          --add-binary "ffmpeg/ffmpeg.exe;ffmpeg"
          --add-binary "ffmpeg/ffprobe.exe;ffmpeg"
          --add-binary "ffmpeg/ffplay.exe;ffmpeg"
          cctv.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CCTV-Streamer
          path: dist/cctv.exe
